*/__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*/.json
*/.env
*/.env.local
*/.env.development
*/.env.production
*/.env.test


*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

*/.pickle

*/.DS_Store

*/.idea

.cursorrules